data.json
*.log
venv/
# Arch Linux temporary build folders
/pkg/
*.pkg.tar.zst
/src/python-relayfsd/
.SRCINFO

# Python build artifacts
**/__pycache__/
**/build/
**/dist/
**/*.egg-info/

# Compiled binary
relayfsd
relayfsd.exe

# Go build cache
*.test
*.out

# OS junk
.DS_Store
Thumbs.db

src/data.json
src/relayfsd

relayfsd.service
